{% extends "base/base.html" %}
{% block title %}
    <title>Couvertures</title>
{% endblock title %}
{% block content %}
<br>
    <img src="{% if product.image %}{{product.image.url}}{% endif %}" alt="Not Found">
    {{product.name}}
    {{product.price}}
    {% if product.available %}
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Confirm Full Sale">
        </form>
    {% else %}
        product sold out
    {% endif %}
{% endblock content %}