{% extends "base/base.html" %}
{% load static %}
{% block title %}
    <title>Create sub-category</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/admin_forms.css" %}">
{% endblock styles %}
{% block content %}
<div class="page-path">
    <h4><img class="admin" src="/static/icons/admin.svg" alt="Search Icon" width="15" height="15">Admin Dashboard > Create Categories > Bottom Category</h4>
</div>
<div class="top-section">
    <a class="previous" href="{% url 'products:create-category' %}">
        <!-- <img class="admin" src="/static/icons/left.svg" alt="Left Icon" width="20" height="20" style="display: inline;"> -->
        <span class="left">&laquo;</span> Mid category</a>
</div>
<form class="category-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h1 class="centered-element">Bottom Category</h1>
    {{form.as_p}}
    <input class="create-button" type="submit" value="Create Category">
</form>
{% endblock content %}